<div *ngFor="let dna of dnaList" highlight>
    <!--TODO: send update message to child component to update its state, for example when mutationEnabled is changed (from here - parent component)-->
    <!--When app.component mutationEnabled is updated you need to send signal about that for child components(this for example) and update them - rerendering-->
    <!--Also you need to remove this switch/case and send that signal further to gene.component that it can redraw itself-->
    <div [ngSwitch]="mutationEnabled">
        <template [ngSwitchCase]="false">
            <gene-component [dna]="dna" (remove)="removeGene($event)">Place for gene...</gene-component>
        </template>
        <template [ngSwitchCase]="true">
            <gene-component [dna]="dna" (remove)="removeGene($event)">Place for gene...</gene-component>
        </template>
        <template ngSwitchDefault>
            Incorrect value
        </template>
    </div>
</div>