<h4>Please choose DNA type to add</h4>
<div ngClass="row">
    <div ngClass="col-xs-6 form-group">
        <select [disabled]="!hasAvailableDna" #availableDna ngClass="form-control-dna-selector">
            <option *ngFor="let dna of availableDnas" value={{dna}}>{{getGeneName(dna)}}</option>
        </select>
        <button [disabled]="!hasAvailableDna" (click)="add(availableDna.value)" class="btn btn-default">Add available</button>
    </div>

    <div ngClass="col-xs-6 form-group">
        <!--TODO: clarify why doesn't work-->
        <!--<select [disabled]="!hasSelectedDna" name="selectedDna" [ngModel]="selectedDna" ngClass="form-control-dna-selector">-->
        <!--Done: because NAME needed only when using together with ngForm, but it doesn't create template reference variable, as #selectDna did.-->
        <!--Remark: this code will work but ngModel not binded with anythind, so it's bad:-->
        <!--<select [disabled]="!hasSelectedDna" #selectedDna="ngModel" ngModel ngClass="form-control-dna-selector">-->
        <!--Done: this code works correctly:-->
        <select [disabled]="!hasSelectedDna" #selectedDna ngClass="form-control-dna-selector">
            <option *ngFor="let dna of selectedDnas" value={{dna}}>{{getGeneName(dna)}}</option>
        </select>
        <button [disabled]="!hasSelectedDna" (click)="remove(selectedDna.value)" ngClass="btn btn-default">Remove selected</button>
    </div>
</div>