<div class="row" (click)="stopEventPropagation($event)">
    <div class="col-xs-12">
        <h4 class="text-center center-block">Gene mutation</h4>
        <form [formGroup]="mutationForm" (ngSubmit)="onSubmit()"
              novalidate>       <!--novalidate attribute in the <form> element prevents the browser from attempting native HTML validations-->
            <div class="form-group row">
                <div class="col-xs-4 col-xs-push-1">
                    <label for="description" class="center-block">Descriebe mutation influence:</label>
                </div>
                <div class="col-xs-6 col-xs-push-1">
                    <textarea id="description" class="form-control" formControlName="description"
                              placeholder="description of mutation" cols="40" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="narrowed-row">
                    <div class="col-xs-4">
                        <label class="text-center center-block">Sites:</label>
                    </div>
                    <div class="col-xs-8">
                        <button type="button" class="btn btn-sm btn-info gene-button" (click)="addNewSite()">Add</button>
                    </div>
                </div>
                <div formArrayName="formGroups" class="well well-lg narrowed-row">
                    <div *ngFor="let formGroup of sitesFormGroups.controls; let i=index" [formGroupName]="i">
                        <div class="col-xs-3">
                            <span>#{{i + 1}}</span>
                            <input type="checkbox" formControlName="isMutated" id="mutated" />
                            <label for="mutated">{{labelSiteMutation(formGroup.controls.isMutated)}}</label>
                            <button type="button" class="btn btn-xs btn-danger gene-button" (click)="removeSite(formGroup.controls.id.value)">X</button>
                            <select class="form-control auto-width display-inline" formControlName="site">
                                <option *ngFor="let item of siteItems" [ngValue]="item">{{getSiteName(item)}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="narrowed-row">
                    <div class="col-xs-2 col-xs-push-8">
                        <button type="submit" [disabled]="mutationForm.pristine" class="btn btn-sm btn-success gene-button">Submit</button>
                    </div>
                    <div class="col-xs-2 col-xs-push-8">
                        <button type="button" [disabled]="mutationForm.pristine" class="btn btn-sm btn-danger gene-button" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>

        <p>Form value: {{ mutationForm.value | json }}</p>
        <p>Form status: {{ mutationForm.status | json }}</p>
        <p>Description value: {{mutationForm.get('description').value}}</p>
        <p>Nested: {{mutationForm.get('formGroups').value | json}}</p>
    </div>
</div>