<div class="gene" highlight
     [highlight-params]="{color: '#000000', opacity: '1.0', border: 'solid 1px black', borderRadius: '8px', fontWeight: 'bold', customClass: null}"
     (click)="siteClicked($event, gene)">
    <div ngClass="row">
        <div ngClass="col-xs-4">
            <h4 ngClass="dnaName" highlight="#dcfbfb" [highlight-params]="{customClass: 'dna-name-title'}">{{gene.name}}</h4>
            <p>{{gene.description}}</p>
        </div>
        <div ngClass="col-xs-4">
            <span *ngIf="molecule?.formula">Formula: {{molecule.formula}}</span>
            <ul *ngIf="molecule?.kinds">
                <li *ngFor="let name of kinds" highlight="{{molecule.kinds[name].kind.rgb}}" [highlight-params]="{color: molecule.kinds[name].kind.invertedRGB, borderRadius: '5px'}">
                    <span ngClass="atomColor" [style.background-color]="molecule.kinds[name].kind.rgb"></span>
                    {{molecule.kinds[name].kind.symbol}}({{molecule.kinds[name].kind.name}})
                </li>
            </ul>
        </div>
        <div ngClass="col-xs-1 col-xs-offset-2">
            <button ngClass="btn btn-info btn-xs gene-remove-button" (click)="mutateGene($event)">Mutate</button>
        </div>
        <div class="col-xs-1">
            <button ngClass="btn btn-danger btn-xs gene-remove-button" (click)="removeGene()">X</button>
        </div>
    </div>

    <div [ngClass]="bold">Gene sites</div>
    <div highlight="#dcfbfb" [highlight-params]="{borderRadius: '8px'}">
        <div ngClass="row">
            <div ngClass="col-xs-1 gene-label-sites-container">Original</div>
            <div ngClass="col-xs-10 col-xs-offset-1 gene-sites-container">
                <span *ngFor="let site of gene.sites" [class]="site.name" (click)="siteClicked($event, site.site)">{{site.name}}</span>       <!--[class.site-mutated]="site.isMutated"-->
            </div>
        </div>
        <div *ngIf="mutationEnabled; else mutatedSites">
            <gene-mutation [gene]="gene"></gene-mutation>
        </div>
        <ng-template #mutatedSites>
            <div *ngIf="gene.mutationSites.length > 0" ngClass="row">
                <div ngClass="col-xs-1 gene-label-sites-container">Mutated</div>
                <div ngClass="col-xs-10 col-xs-offset-1 gene-sites-container">
                    <span *ngFor="let site of gene.mutationSites" [ngClass]="site.setSiteCssClasses()" [class]="site.name" (click)="mutateSite($event, site)">{{site.name}}</span> <!--[class]="site.isMutated ? 'site-mutated': site.name"-->
                </div>
            </div>
        </ng-template>
    </div>

</div>