<!--http://www.codingclub.net/News/Angular_4_ughe_dostupen-->
<div *ngIf="!submitted; else displayData">      <!--Note: Angular 4: will display <ng-template #displayData> if submitted will equal 'true'-->
    <form #editorForm="ngForm" (ngSubmit)="onSubmit()">
        <div ngClass="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" placeholder="Type name here" required [minlength]="validationSettings.minlength" [maxlength]="validationSettings.maxlength"
                   name="name" [(ngModel)]="gene.name" #name="ngModel"/>
            <div *ngIf="name.errors && (name.pristine || name.touched || name.dirty && name.untouched)" [class]="validationMessageClasses">
                <div [hidden]="!name.errors.required">Name is required</div>
                <div *ngIf="name.errors.minlength">Name must be at least {{validationSettings.minlength}} characters long</div>
                <div *ngIf="name.errors.maxlength">Name cannot be more than {{validationSettings.maxlength}} characters long</div>
            </div>
        </div>

        <div ngClass="form-group">
            <label for="description">Description</label>
            <input id="description" [class.form-control]="true" type="text" placeholder="Type description here" name="description" [(ngModel)]="gene.description"/>
        </div>

        <div class="form-group">
            <label for="sites">Site to mutate</label>
            <select id="sites" ngClass="form-control" required name="sites" [(ngModel)]="currentChosenSite" #currentSite="ngModel">
                <!--TODO: need to do directive OptionSelected to allow [attr.selected] adds only ONE selected attribute to HTMLElement-->
                <!--<option *ngFor="let site of gene?.sites" [value]="site?.site" [attr.selected]="currentChosenSite?.site === site?.site">-->    <!--https://angular.io/guide/template-syntax#attribute-binding-->
                <!--Remark: added directive, it works, adds 'selected' attribute to ONLY one <option> tag, but still without changes on page -->
                <!--<option *ngFor="let site of gene?.sites" [value]="site?.site" [attr.selected]="currentChosenSite?.site === site?.site">-->
                <!--Done: https://stackoverflow.com/a/35945293 - using [ngValue] - it supports any type([value] - only string), https://stackoverflow.com/a/37968835 - removed 'selected' attribute at all-->
                <option *ngFor="let site of gene?.sites" [ngValue]="site">
                    {{getSiteName(site?.site)}}</option>
            </select>
            <div *ngIf="currentSite.invalid && (currentSite.pristine || currentSite.touched)" [class]="validationMessageClasses">
                Site is required
            </div>
        </div>
        <!--{{diagnostic}}-->
        <button type="button" class="btn btn-default" [disabled]="editorForm.form.invalid" (click)="add()">Add</button>
        <button type="submit" class="btn btn-success" [disabled]="!editorForm.form.valid">Submit</button>
    </form>
</div>
<ng-template #displayData>    <!--Note: Angular 4: won't work with <div>-->
    <gene-submitted [gene]="gene" [(submitted)]="submitted"></gene-submitted>
</ng-template>