<div [formGroup]="siteGroup">
    <span>#{{index + 1}}</span>
    <input type="checkbox" formControlName="isMutated" id="mutated" />
    <!--{{siteGroup|json}}-->
    <label for="mutated">{{labelSiteMutation(siteGroup.controls.isMutated)}}</label>
    <button type="button" class="btn btn-xs btn-danger gene-button" (click)="removeSite()">X</button>
    <select class="form-control auto-width display-inline" formControlName="site">
        <option *ngFor="let item of siteItems" [ngValue]="item">{{getSiteName(item)}}</option>
    </select>
</div>