<div class="narrowed-row">
    <div class="col-xs-10">
        <h4><label class="text-center center-block">Sites:</label></h4>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-sm btn-info gene-button" (click)="add()">Add</button>
    </div>
</div>
<div class="well well-lg narrowed-row"><!--Remark: if add formArrayName="formArray" to this <div> you will get error:
Remark: 'Error: formArrayName must be used with a parent formGroup directive." That means you must use formArrayName=""
Remark: only in parent formGroup template, because you wire it with that specific formGroup.-->

    <site-mutation *ngFor="let formGroup of formArray.controls; let i=index" class="col-xs-3"
                   [siteGroup]="formGroup" [index]="i" (remove)="remove($event)"></site-mutation>
    <!--[formGroupName]="i" not needed anymore because <site-mutation> inside has <div [formGroup]="siteGroup">-->
</div>
