@import "common-text";

.gene-base {
  border-radius: 5px; width: 20px; height: 20px;
  .bold;
  text-align: center; vertical-align: middle;
  cursor: pointer;
  padding: 0px 5px;
}
.hover{
  padding: 5px 10px;
  border: solid 1px #000000;
  .extra-bold;
}

.A {color: red; background-color: greenyellow;
  .gene-base
}
.A:hover{
   .hover;
 }
.C {color: blue; background-color: yellow;
  .gene-base
}
.C:hover{
  .hover;
}
.G {color: forestgreen;  background-color: #ffa200;
  .gene-base
}
.G:hover{
  .hover;
}
.T {color: orangered; background-color: deepskyblue;
  .gene-base
}
.T:hover{
  .hover;
}
.U {color: blue; background-color: aquamarine;
  .gene-base
}
.U:hover{
  .hover;
}
.site-mutated {color: white; background-color: black;}