@import "common-text";      /*LESS*/
@import "common-gene";
//@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

h4.dnaName{
  .underline;   /*LESS - mixins*/
  .italic;
  font-family: Algerian;
  font-size: 25px;
  color: #7c4dff;
  display: inline-block;
  padding: 0px 10px;
}

.gene{
  //border: solid 1px black;
  display:inline-block;
}
.gene-remove-button {
  position:relative;
  //top:0;
  //right:0;
  float: right;
  margin-right: -60px;
  top: -106px;
  font-weight: bold;
  border-width: 1px;
}



