.no-resizable{
  //https://developer.mozilla.org/en-US/docs/Web/CSS/resize
  resize: none;
}
.auto-width{
  width: auto !important;
}
.display-inline{
  display: inline !important;
}
.vartical-margin-5{
  margin-top: 5px;
  margin-bottom: 5px;
}

.gene-button {
  margin: 5px 5px !important;
  float: right;
  font-weight: bold;
  border-width: 1px;
}