<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SkyScannerTravelApiServiceUrl" value="http://partners.api.skyscanner.net/apiservices/reference/v1.0/{0}?apiKey={1}" />
    <add key="SkyScannerTravelApiKey" value="te995285484517397064443064537317" />
  </appSettings>
</configuration>